@import "_mixins/reset";
@import 'libs';
@import 'vars';

@include reset();

::-webkit-input-placeholder {
   	color: #B4B4B4;
    opacity: 1
}

:-moz-placeholder {
   	color: #B4B4B4;
    opacity: 1
}

::-moz-placeholder {
   	color: #B4B4B4;
    opacity: 1
}

:-ms-input-placeholder {
   	color: #B4B4B4;
    opacity: 1
}

body{
	font-family: $default-font;
    color: black;
	background-color: white;
	height: initial;
	opacity: 1;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.js-popup {
	cursor: pointer;
}

.container{
	max-width: 600px;
	height: 100vh;
    padding: 1.875em .938em;
	margin: 0 auto;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-image: url(../img/back.png);
	
	background-size: cover;
	background-position: center;
	
	&_done {
		background-image: url(../img/back-done.jpg);
	}
	
	&_fail {
		background-image: url(../img/back-fail.jpg);
	}
}

.page {
	text-align: center;
}

.title {
	font: 1em/1.5em $default-font;
	margin: .938em 0;
}

.form {
	display: flex;
	flex-direction: column;
	&__input {
		width: 100%;
		margin-bottom: .625em;
		padding: .75em 1.25em;

		border: 1px solid #E3E3E3;
		outline-color: $accent;

		&.has-error {
			outline-color: $error;
			border-color: $error;
		}
	}

	&__txt {
		font: 10px/1.4em $default-font;
		margin-bottom: 1.8em;
		text-align: left;
	}

	&__btn {
		width: 290px;
	}
}

.btn {
	font: bold 16px/2.875em $default-font;	
	text-transform: uppercase;
	border-radius: 60px;
	color: white;
	background-color: $accent;

	&_center {
		margin-left: auto;
		margin-right: auto;
	}

	&_middle {
		width: 290px;
	}
}

.modal {
	display: none;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;

	text-align: center;

	&#done {
		z-index: 11;
	}

	&__title {
		font: bold 22px/1.455em $default-font;
		margin-bottom: .773em;
	}

	&__subtitle {
		font: bold 16px/1.375em $default-font;
		text-transform: uppercase;

		&_small {
			margin: .917em 0 .583em 0;
			font-size: 12px;
			line-height: 1.667em;
		}
	}

	&__txt {
		font: 1em/1.5em $default-font;
	}

	&__secondary-txt {
		margin: .143em 0 2em 0;
		font: 14px/1em $default-font;
	}

	&__img {
		margin: 40px 0;

		&_fail {
			margin: 75px 0 57px 0;
		}
	}

	&__first-link {
		margin-right: 30px;
	}

	&__phone {
		font-size: 20px;
		text-decoration: underline;
	}
}

.load {
    position: relative;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: transparentize(#fff, .2);
        content: '';
        z-index: 100;
    }

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 102;
        display: inline-block;
        margin: auto;
        width: 36px;
        height: 36px;
        border: 3px solid transparentize($accent, .8);
        border-bottom-color: $accent;
        border-radius: 50%;
        content: '';
        animation: load 1s infinite linear;
    }
}


@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@import 'media';

