@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
	@font-face {
        font-family: $font-family;
        font-display: swap;
		font-weight: $weight;
		font-style: $style;

		@if $asset-pipeline == true {
            src: font-url('#{$file-path}.woff') format('woff'),
                 font-url('#{$file-path}.woff2') format('woff2');
		} @else {
            src: url('#{$file-path}.woff') format('woff'),
                 url('#{$file-path}.woff2') format('woff2');
		}
	}
}