.container{
	max-width: 1230px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    display: flex;
    height: 100vh;
}

.align-center {
    align-items: center;
}

.container_1600{
    display: block;
    max-width: 1600px;
}

.center{
    margin: auto;
    text-align: center;
}

.form-login{
    display: flex;
    flex-direction: column;
}

.img{
    margin: 0 auto;
    display: block;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #494949;
    margin-top: 0;
}

.logo {
    margin-bottom: 10px;
}

.placeholder{
    margin-bottom: 1em;
}

.btn {
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.btn:hover {
	background-color:#eb675e;
}
.btn:active {
	position:relative;
	top:1px;
}

.m20{
    margin: 20px 0;
    color: #494949;
}

.qr {
    color: lightcoral;
    font-weight: bold;
}

.simple-little-table {
    margin-bottom: 2em;
}

label{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    color: #494949;
}

input{
    cursor: pointer;
    outline: none;
    padding: 10px;
    border-width: 0;
    background: #f7f7f7;
}

input[type="submit"] {
    background: #faab1b;
    transition: background .5s linear;
}

input[type="submit"]:hover{
    background: #ffd993;
}

table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-radius: 10px;
	border-spacing: 0;
	text-align: center;
    }
    
table a{
    color: #64a1e1;
    font-weight: bold;
    text-decoration: none;
}

table a:hover{
    text-decoration: underline;
}

table th {
    background: #BCEBDD;
    color: #494949;
    text-shadow: 0 1px 1px rgb(255, 255, 255);
    padding: 10px 20px;
}

table th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

table th:first-child, td:first-child {
    text-align: left;
}

table th:first-child {
    border-top-left-radius: 10px;
}

table th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

table td {
    padding: 10px 20px;
    background: #F8E391;
    transition: background .5s ease;
}

table tr:hover td{
    cursor: pointer;
    background-color: #ccc;
}

table tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

table tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

table tr td:last-child {
    border-right: none;
}

body{
    background: linear-gradient(270deg, #b7fcdd, #7ba8fc, #d174ff);
    background-size: 600% 600%;
    
    -webkit-animation: gradient 17s ease infinite;
    -moz-animation: gradient 17s ease infinite;
    animation: gradient 17s ease infinite;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.priority {
    padding: 10px;

    font-size: 20px;
    
    color: white;
    background-color: orange;
}

.form {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
}

.form input {
    margin-bottom: 1em;
}

.mb2em {
    margin-bottom: 2em;
}

@-webkit-keyframes gradient {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}
@keyframes gradient { 
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}